<app-dashboard>
    <!-- Heading -->
    <div class="flex w-full bg-white p-10 shadow-sm">
        <div class="flex flex-row gap-5 items-center">
            <img src="../../../assets/icon/user.png" alt="user" class="h-16 w-16">

            <div class="flex flex-col">
                <p class="text-gray-800 font-bold text-4xl">
                    Selamat Datang, {{ UserData.firstName }}
                </p>
                <p class="text-gray-600 text-base">
                    PT. Lorem Ipsum Corp
                </p>
            </div>
        </div>
    </div>
</app-dashboard>